.nav {
  --height: 70px;
  --pd-vert: 1rem;
  --pd-horz: 0px;
  --pd-item-horz: 1.4rem;
  --item-width: calc((100% - var(--pd-horz) * 2)) / var(--quantity);
  --icon-sz: 1.5rem;
  --ind-br-width: 6px;
  --bg-clr: #ffffff;
  --ind-clr: #29fd53;
  --trs-dur: 0.5s;
  --trs-fnc: ease-in;
  --trs: var(--trs-dur) var(--trs-fnc);
  position: relative;
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-height: var(--height);
  padding: 0 var(--pd-horz);
  background-color: var(--bg-clr);
  border-radius: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
@media (max-width: 639px) {
  .nav {
    --pd-item-horz: 0.625rem;
    --height: 50px;
    --icon-sz: 1rem;
    --ind-br-width: 4px;
  }
}
@media (max-width: 639px) {
  .nav {
    border-radius: 6px;
  }
}
.nav *::before,
.nav *::after {
  --height: 70px;
  --pd-vert: 1rem;
  --pd-horz: 0px;
  --pd-item-horz: 1.4rem;
  --item-width: calc((100% - var(--pd-horz) * 2)) / var(--quantity);
  --icon-sz: 1.5rem;
  --ind-br-width: 6px;
  --bg-clr: #ffffff;
  --ind-clr: #29fd53;
  --trs-dur: 0.5s;
  --trs-fnc: ease-in;
  --trs: var(--trs-dur) var(--trs-fnc);
}
@media (max-width: 639px) {
  .nav *::before,
.nav *::after {
    --pd-item-horz: 0.625rem;
    --height: 50px;
    --icon-sz: 1rem;
    --ind-br-width: 4px;
  }
}
.nav__list {
  display: grid;
  grid-auto-columns: minmax(var(--icon-sz), 1fr);
  grid-auto-flow: column;
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav__item {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}
.nav__item.active .nav__link-icon {
  -webkit-transform: translateY(calc((var(--height) / 2 + var(--icon-sz) / 2) * -1));
          transform: translateY(calc((var(--height) / 2 + var(--icon-sz) / 2) * -1));
}
@media (min-width: 640px) {
  .nav__item.active .nav__link-text {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(calc(var(--height) / 4));
            transform: translateY(calc(var(--height) / 4));
  }
}
.nav__link {
  position: relative;
  z-index: 2;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  min-width: 60px;
  padding: var(--pd-vert) var(--pd-item-horz);
  color: var(--pg-bg-clr);
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
}
.nav__link-icon {
  position: absolute;
  top: 50%;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  font-size: var(--icon-sz);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: -webkit-transform var(--trs);
  transition: -webkit-transform var(--trs);
  transition: transform var(--trs);
  transition: transform var(--trs), -webkit-transform var(--trs);
}
.nav__link-text {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translateY(calc(var(--height) / 2));
          transform: translateY(calc(var(--height) / 2));
  -webkit-transition: visibility var(--trs), opacity var(--trs), -webkit-transform var(--trs);
  transition: visibility var(--trs), opacity var(--trs), -webkit-transform var(--trs);
  transition: transform var(--trs), visibility var(--trs), opacity var(--trs);
  transition: transform var(--trs), visibility var(--trs), opacity var(--trs), -webkit-transform var(--trs);
}
@media (max-width: 639px) {
  .nav__link-text {
    position: absolute;
    height: 0;
    visibility: hidden;
  }
}
.nav__indicator {
  --width: min(var(--height), var(--item-width) - var(--pd-item-horz) * 2);
  position: absolute;
  top: 0;
  left: calc(var(--pd-horz) + (var(--item-width) - var(--width)) / 2 + var(--item-width) * var(--active));
  width: var(--width);
  aspect-ratio: 1/1;
  border: var(--ind-br-width) solid var(--pg-bg-clr);
  background: var(--ind-clr);
  border-radius: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: left var(--trs);
  transition: left var(--trs);
}
.nav__indicator::before, .nav__indicator::after {
  --width: calc(25% + var(--ind-br-width) / 2);
  position: absolute;
  top: 50%;
  width: var(--width);
  max-width: var(--pd-item-horz);
  aspect-ratio: 1/1;
  background-color: var(--bg-clr);
  -webkit-box-shadow: 0px -8px 0 0 var(--pg-bg-clr);
          box-shadow: 0px -8px 0 0 var(--pg-bg-clr);
  content: "";
}
@media (max-width: 639px) {
  .nav__indicator::before, .nav__indicator::after {
    -webkit-box-shadow: -2px -6px 0 0 var(--pg-bg-clr);
            box-shadow: -2px -6px 0 0 var(--pg-bg-clr);
  }
}
.nav__indicator::before {
  right: calc(100% + var(--ind-br-width) / 2);
  border-top-right-radius: 100%;
}
@media (max-width: 639px) {
  .nav__indicator::before {
    border-top-left-radius: 4px;
    -webkit-box-shadow: 2px -6px 0 0 var(--pg-bg-clr);
            box-shadow: 2px -6px 0 0 var(--pg-bg-clr);
  }
}
.nav__indicator::after {
  left: calc(100% + var(--ind-br-width) / 2);
  border-top-left-radius: 100%;
}
@media (max-width: 639px) {
  .nav__indicator::after {
    border-top-right-radius: 4px;
  }
}/*# sourceMappingURL=nav.css.map */