:root {
  --bg-clr: #222327;
  --clr: #ffffff;
}

html {
  height: 100vh;
}

body {
  height: 100%;
  margin: 0;
  color: var(--clr);
  background: var(--bg-clr);
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100%;
}

@import './modules/nav';
