@mixin variables {
  --height: 70px;
  --pd-vert: 1rem;
  --pd-horz: 0px;
  --icon-sz: 1.5rem;
  --ind-br-width: 6px;
  --bg-clr: #ffffff;
  --ind-clr: #29fd53;
  --trs-dur: 0.5s;
  --trs-fnc: ease-in;
  --trs: var(--trs-dur) var(--trs-fnc);
}

.nav {
  @include variables();
  position: relative;
  align-self: center;
  display: inline-flex;
  min-height: var(--height);
  padding: 0 var(--pd-horz);
  background-color: var(--bg-clr);
  border-radius: 10px;
  user-select: none;

  *::before,
  &::after {
    @include variables();
  }

  &__list {
    display: grid;
    grid-auto-columns: minmax(var(--icon-sz), 1fr);
    grid-auto-flow: column;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    display: inline-flex;

    &.active {
      .nav__link-icon {
        transform: translateY(calc((var(--height) / 2 + var(--icon-sz) / 2) * -1));
      }

      .nav__link-text {
        visibility: visible;
        opacity: 1;
        transform: translateY(calc(var(--height) / 4));
      }
    }
  }

  &__link {
    position: relative;
    z-index: 2;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: var(--pd-vert) 1.4rem;
    color: var(--pg-bg-clr);
    text-decoration: none;
  }

  &__link-icon {
    position: absolute;
    top: 50%;
    display: inline-flex;
    font-size: var(--icon-sz);
    transform: translateY(-50%);
    transition: transform var(--trs);
  }

  &__link-text {
    opacity: 0;
    visibility: hidden;
    transform: translateY(calc(var(--height) / 2));
    transition: transform var(--trs), visibility var(--trs), opacity var(--trs);
  }

  &__indicator {
    --item-width: calc(100% - var(--pd-horz) * 2) / var(--quantity);
    position: absolute;
    bottom: 50%;
    left: calc(var(--pd-horz) + (var(--item-width) - var(--height)) / 2 + var(--item-width) * var(--active));
    width: var(--height);
    aspect-ratio: 1 / 1;
    border: var(--ind-br-width) solid var(--pg-bg-clr);
    background: var(--ind-clr);
    border-radius: 50%;
    transition: left var(--trs);

    &::before,
    &::after {
      position: absolute;
      top: 50%;
      width: calc(var(--height) / 4);
      aspect-ratio: 1 / 1;
      background-color: var(--bg-clr);
      box-shadow: 0px calc(var(--height) / -8) 0 0 var(--pg-bg-clr);
      content: '';
    }

    &::before {
      right: calc(100% + var(--ind-br-width) / 2);
      border-top-right-radius: 100%;
    }

    &::after {
      left: calc(100% + var(--ind-br-width) / 2);
      border-top-left-radius: 100%;
    }
  }
}
