.nav {
  --height: 7rem;
  --pd-vert: 2rem;
  --pd-horz: 4rem;
  --icon-sz: 2rem;
  --ind-clr: #29fd53;
  --trs-dur: 0.5s;
  --trs-fnc: ease-in;
  --trs: var(--trs-dur) var(--trs-fnc);
  position: relative;
  align-self: center;
  display: inline-flex;
  min-height: var(--height);
  padding: 0 var(--pd-horz);
  background-color: #ffffff;
  border-radius: 10px;
  user-select: none;

  &__list {
    display: grid;
    grid-template-columns: repeat(var(--quantity), minmax(var(--icon-sz), 1fr));
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__item {
    display: inline-flex;
  }

  &__link {
    position: relative;
    z-index: 2;
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: var(--pd-vert) 1.4rem;
    color: var(--bg-clr);
    text-decoration: none;

    &:hover {
      .nav__link-icon {
        transform: translateY(calc((var(--height) / 2 + var(--icon-sz) / 2) * -1));
      }

      .nav__link-text {
        visibility: visible;
        opacity: 1;
        transform: translateY(100%);
      }
    }
  }

  &__link-icon {
    position: absolute;
    top: 50%;
    display: inline-flex;
    font-size: var(--icon-sz);
    transform: translateY(-50%);
    transition: transform var(--trs);
  }

  &__link-text {
    opacity: 0;
    visibility: hidden;
    transform: translateY(200%);
    transition: transform var(--trs), visibility var(--trs), opacity var(--trs);
  }

  &__indicator {
    position: absolute;
    bottom: 50%;
    left: var(--pd-horz);
    width: calc((100% - var(--pd-horz) * 2) / var(--quantity));
    aspect-ratio: 1 / 1;
    background: var(--ind-clr);
    border-radius: 50%;
  }
}
